################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/Releases
/obj/Release
/bin
/.vs/gamevoice/v16
/gamevoice.vcxproj.user
