################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/Releases
/obj
/bin
/gamevoice.vcxproj.user
/.vs
/cmake